<ion-header>
    <ion-toolbar>
        <img src="assets/imgs/logo.png" alt="ITRANS">

    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <ion-toolbar no-border-top>
        <ion-card color="dark" id="header">
            <ion-card-header color="secondary">
                Receveur(se): {{seller}} <br> POS N° {{device_number}} - BUS {{vehicule_matricule}}
                <h1 color="secondary">{{nbr_v_tickt * 100 + nbr_v_tickt_150 * 150 + nbr_v_tickt_200 * 200+ nbr_v_tickt_250 * 250+ nbr_v_tickt_300 * 300+ nbr_v_tickt_350 * 350+ nbr_v_tickt_400 * 400+ nbr_v_tickt_500 * 500}} CFA</h1>

                <h1 color="secondary">R-{{rotations}} ----- T-{{tv}}</h1>
            </ion-card-header>

        </ion-card>
    </ion-toolbar>
    <ion-card color="dark">
        <ion-segment [(ngModel)]="pet" (ionChange)="segmentChanged($event)" scrollable>

            <ion-segment-button (click)="rapport()">
                SOMMAIRE
            </ion-segment-button>
            <ion-segment-button (click)="depe()">
                FRAIS
            </ion-segment-button>
        </ion-segment>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-list>
                <ion-item (click)="control()">
                    <ion-icon name="md-thumbs-up" item-start></ion-icon>
                    Contrôle
                    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                </ion-item>
                <ion-item (click)="rotation()">
                    <ion-icon name="ios-repeat" item-start></ion-icon>
                    {{leaving_place}} ---> {{arrived_place}}
                    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                </ion-item>
                <ion-item (click)="newZone()">
                    <ion-icon name="ios-git-pull-request" item-start></ion-icon>
                    {{zone}}
                    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                </ion-item>
            </ion-list>
            <ion-grid>
                <ion-row *ngIf="zone === 'Zone A'">
                    <ion-col *ngFor="let s of sec" col-4>
                        <img src="assets/imgs/{{s.price}}.png" (click)="vticket(inputData, s.price, s.name, s.id)" alt="s.price">
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="zone === 'Zone B'">
                    <ion-col *ngFor="let s of sec" col-4>
                        <img src="assets/imgs/{{s.price}}.png" (click)="vticket(inputData, s.price, s.name, s.id)" alt="s.price">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>